p:hover {
    color: red;
    font-size: 30px;
}

.standout {
    color: green;
    font-size: 40px;
}

.image1 {
    border-radius: 50%;
}
.image2 {
    border-radius: 30px;
}
.image3 {
    opacity: 0.2;
}
.image4:hover {
    filter: grayscale(80%);
}
.image5 {
    filter: blur(4px);
}